body{
    background-color:grey;
}

.hero{
  color:rgb(255, 255, 255);
  background-image:url(images/hero-image.jpg);
  height:100vh;
  background-size:cover;
  padding-bottom:10vh;
}

.hero-text{
  letter-spacing:0.8px;
  font-size:150%;
  text-align: center;
}
#hr-1{
  background:white;
  width:420px;
}